body {
  margin: 0;
}

.main {
  margin: 0 auto;
  max-width: 500px;
}
.content {
  font-size: 20px;

  padding: 20px;
}
h1 {
  text-align: center;
}
table {
  width: 100%;
}
td:first-child {
  width: 100%;
}
td:last-child {
  min-width: 125px;
}
th {
  text-align: left;
}
tr:nth-child(even) {
  background-color: #ffffff;
}
input,
button {
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
  border: 2px #c0c0c0 solid;
}
input {
  width: auto;
}
button {
  cursor: pointer;
}
button.add {
  background-color: #0080ff;
  color: #ffffff;
  float: right;
}

button.delete {
  background-color: #e04040;
  color: #ffffff;
  float: right;
}

.task {
  cursor: pointer;
}
.completed {
  text-decoration: line-through;
}
